.logoCarousel {
  display: flex;
  overflow: hidden;
}

.logoSlide {
  display: flex;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 5));
  }
}

.logo {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}
